body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgb(247, 247, 247) 23.8%,
      rgb(179, 217, 229) 92%);
  text-align: center;
  height: 100vh;
  font-family: 'lato';
  font-weight: 100;
  cursor: url(../images/cursor1.png), auto;
  animation: cursor 0.3s linear infinite;
}

@keyframes cursor {
  0% {
    cursor: url('../images/cursor1.png'), auto;
  }

  100% {
    cursor: url('../images/cursor2.png'), auto;
  }
}

/* loader */

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  color: #484848;
  font-size: 100%;
  letter-spacing: 15px;
  margin-bottom: 20%;
  animation: flash 1.5s linear infinite;
}

@keyframes flash {
  0% {
    color: #6d88a0;
    text-shadow: 0 0 7px rgb(137, 137, 146);
  }

  90% {
    color: #484848;
    text-shadow: none;
  }

  100% {
    color: #40403b;
    text-shadow: 0 0 7px rgb(0, 85, 255);
  }
}

.letter:nth-child(1) {
  animation-delay: 0.1s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.3s;
}

.letter:nth-child(4) {
  animation-delay: 0.4s;
}

.letter:nth-child(5) {
  animation-delay: 0.5s;
}

.letter:nth-child(6) {
  animation-delay: 0.6s;
}

.letter:nth-child(7) {
  animation-delay: 0.7s;
}

.letter:nth-child(8) {
  animation-delay: 0.8s;
}

.letter:nth-child(9) {
  animation-delay: 0.9s;
}

.letter:nth-child(10) {
  animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

/*loading cinna*/
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  display: inline-block;
  width: 13%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}

@keyframes loading {
  0% {
    transform: translateY(0px);
    /* background-color: #299afc; */
  }

  50% {
    transform: translateY(50px);
    /* background-color: #e1dfe6; */
  }

  100% {
    transform: translateY(0px);
    /* background-color: #fcdc29; */
  }
}

.circle-1 {
  animation-delay: 0.2s;
}

.circle-2 {
  animation-delay: 0.3s;
}

.circle-3 {
  animation-delay: 0.4s;
}

.circle-4 {
  animation-delay: 0.5s;
}

.circle-5 {
  animation-delay: 0.6s;
}

.circle-6 {
  animation-delay: 0.7s;
}

.circle-7 {
  animation-delay: 0.8s;
}

.circle-8 {
  animation-delay: 0.9s;
}